[user]
  name = Yuichiro NAKAGAWA
  email = ii.hsif.drows@gmail.com
[url "git@github.com:mekajiki/"]
  insteadof = gh:
[url "grg@mekajiki.net:/home/grg/repos/"]
  insteadof = mek:
[url "ssh://git@bitbucket.org/lambdainc/"]
  insteadof = lambda:
[github]
  user = mekajiki
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore_global
  whitespace = trailing-space,space-before-tab
  quotePath = false
[apply]
  whitespace = fix 
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
[rebase]
  autosquash = true
[push]
  default = simple
[diff]
  compactionHeuristic = true
[alias]
  pushf = push --force-with-lease
  refs = for-each-ref --sort=-committerdate --count=10 refs/heads/
[hub]
  protocol = ssh
[pull]
  rebase = true
[grep]
  extendedRegexp = true
[advice]
	skippedCherryPicks = false
[credential "https://git.heroku.com"]
	helper = !heroku git:credentials
